#container {
  width: 100%;
  height: 15px;
  position: relative;

}
.animate {
  width: 200px;
  height: 60px;
  position: absolute;
}

img {
    margin-top: -15px;
}

.rode1, .rode2 {
    width: 100%;
    height: 35px;
    background: #808080;
    margin: 0;
    
}

.rode1 {
    border-top: 2px solid #000000;
}

.rode2 {
    border-top: 2px dashed #ffffff;
}

#byShow1{
    position: relative;
    top: -30px;
}

#byShow2{
    position: relative;
    top: -30px;
}

#byShow3{
    position: relative;
    top: -30px;
}

#byShow4{
    position: relative;
    top: -30px;
}

#byShow5{
    position: relative;
    top: -30px;
}

#byShow6{
    position: relative;
    top: -50px;
}

.sechs{
    position: relative;
    top: -10px;
}